<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <h1>Posts:-</h1>
    <% for(post of posts){ %>
        <div>
            <h3 class="user"><%= post.username %></h3>
            <h3 class="content"><%= post.content %></h3>
            <a href="http://localhost:3000/posts/<%=post.id%>">Details</a>
            <a href="http://localhost:3000/posts/<%=post.id%>/edit">Edit</a>
            <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
                <button>Delete</button>
            </form>
             <br><br>
        </div>
    <% } %>
    <a href="http://localhost:3000/posts/new">Create a new Post</a>
</body>
</html>